testapp/bin
testapp/gen
testapp/libs
testapp/.project
testapp/.classpath
codelab/bin
codelab/gen
codelab/libs

# Built application files
*.apk
*.ap_
*.jar

# Android Studio
.idea
local.properties
*.iml
.gradle
build/
